[user]
	name = {{ fullname }}
	email = {{ email }}
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last = log -1 HEAD
	unstage = reset HEAD --
